opencv-python
numpy
matplotlib
json
logging
time
traceback
ultralytics
rembg
torch
p-utils
p-ml
p-densecrf
p-crf
p-rembg
transformers
Pillow
scikit-learn
shutil
torchvision
torchtext
torchdata
torchmetrics
concurrent.futures
warnings
shutil
sklearn
git+https://github.com/lucasb-eyer/pydensecrf.git
cython
onnxruntime